button {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    border: $border-width solid $accent-color;
    padding: .2rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: $accent-color;
    color: $dark;
    @include basicTransition;
    
    &:hover {
        @include basicTransition;
        background-color: $dark;
        color: white;
    }
}