$placeholder-color: rgb(116, 116, 116);
$faded-accent-color: #81fe8756;

@keyframes loadingCardData {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.voting {
    svg {
        cursor: pointer;
        @include basicTransition;

        &:hover {
            @include basicTransition;
            transform: scale(1.1);
        }
    }
}

.entry-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .entry-card {
        background-color: $placeholder-color;
        width: 300px;
        aspect-ratio: 4/3;
        border-radius: 5px;
        overflow: hidden;

        &.loading {
            background-image: linear-gradient(90deg, $faded-accent-color, $placeholder-color, $placeholder-color, $faded-accent-color);
            background-size: 200%;
            animation: loadingCardData 1s linear infinite;
        }

        .entry-info {
            height: 70%;
            background-color: $placeholder-color;
            border-bottom: 1px solid black;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                background-color: rgb(153, 174, 144);
                display: block;
            }

            a {
                position: absolute;
                right: 0;
                top: 0;
                font-size: larger;
                padding: .5rem;
                color: $dark;

                &:hover {
                    color: $accent-color;
                }
            }
        }

        .author-info {
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                border-radius: 50%;
                background-color: $dark;
                width: 50px;
                aspect-ratio: 1/1;
                margin: 1rem;
                border: 2px solid $dark;

                &:hover {
                    border: 2px solid $accent-color;
                }
            }

            p {
                margin: 1rem;
            }
        }
    }
}