@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}