@keyframes underlineAppear {
  from {
    transform: scale(0);
    transform-origin: center;
  }

  to {
    transform-origin: center;
    transform: scale(1);
  }
}

.logged-in-action {
  position: relative;

  img {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: $border-width solid $accent-color;
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }
  }

  section {
    z-index: 10;
    position: absolute;
    width: max-content;
    right: 0;
    padding: 1rem;
    background-color: $gray;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);

    p {
      text-align: center;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}

nav {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
  a:has(.logo) {
    text-decoration: none;
    color: $white;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    li.current-page::after {
      content: '';
      display: block;
      position: absolute;
      width: 80%;
      margin-left: 10%;
      border-bottom: $border-width solid $accent-color;
      animation: underlineAppear 0.6s ease-in-out;
    }

    li {
      display: inline-block;
      position: relative;

      a {
        color: $white;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

/*Responsive CSS rules*/
@media screen and (max-width: 1200px){
  nav{
    .login-text{
      display: none;
    }
  }
}

@media screen and (max-width: 720px){
  body{
    font-size: 14px;
  }
  nav{
    ul{
      width: 200px;
    }
  }
}
@media screen and (max-width: 510px){
  nav{
    ul{
      margin-left: -25px;
      width: 180px;
    }
  }
}
@media screen and (max-width: 420px){
  body{
    font-size: 12px;
  }
  nav{
    ul{ 
        margin-left: -20px;
        width: 150px;
    }
  }
}
@media screen and (max-width: 370px){
  nav{
    ul{ 
      width: 135px;
    }
  }
}