@import 'fonts';
@import 'variables';
@import 'mixins';

@import 'navbar';
@import 'footer';
@import 'entries';
@import 'buttons';

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  background-color: $white;
  color: $dark;
}

html {
  font-family: 'Poppins', sans-serif;
  color: $white;
}

body {
  background-color: $dark;

  main {
    min-height: calc(100vh - 80px - 40px);
    text-align: center;

    section {
      margin: 2rem;
    }
  }
}